body, h1, h2, p {
margin: 0;
padding: 0;
}

body {
font-family: Arial, sans-serif;
background-color: #f0f0f0;
color: #333;
font-size: 18px;
}

header {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
}
.portfolio .my-image{
    width: 100px;
    height: 100px;
    border: 4px solid black;
    padding: 20px;
    margin: 20px;

}

  /* mouse over link */
 ul a:hover {
    color: hotpink;
  }
  
  /* selected link */
  ul a:active {
    color: blue;
  }

nav ul li {
display: inline;
margin-right: 20px;
}

.portfolio ul{  
        display: inline;
 list-style-type: square;
 background-color: #ebeab9;
}
nav a {
text-decoration: none;
color: #ebeab9;
background-color: #5c4747;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
padding: 20px;
margin: 12px;
border-radius: 5px;
}

section {
padding: 40px;
background-color: #a5a0a0;
margin: 20px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(241, 232, 232);
    background-color: rgb(61, 38, 49);
}
